apiVersion: v2
name: falco
version: 4.22.0
appVersion: "0.41.0"
description: Falco
keywords:
  - monitoring
  - security
  - alerting
  - metric
  - troubleshooting
  - run-time
home: https://falco.org
icon: https://raw.githubusercontent.com/cncf/artwork/master/projects/falco/horizontal/color/falco-horizontal-color.svg
sources:
  - https://github.com/falcosecurity/falco
maintainers:
  - name: The Falco Authors
    email: cncf-falco-dev@lists.cncf.io
dependencies:
  - name: falcosidekick
    version: "0.9.*"
    condition: falcosidekick.enabled
    repository: https://falcosecurity.github.io/charts
  - name: k8s-metacollector
    version: 0.1.*
    repository: https://falcosecurity.github.io/charts
    condition: collectors.kubernetes.enabled
  - name: falco-talon
    version: 0.2.*
    repository: https://falcosecurity.github.io/charts
    condition: falcotalon.enabled
