name: Check Helm Docs

on:
  pull_request:

jobs:
  readme:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Run Helm Docs and check the outcome
        run: |
          for chart in $(ls ./charts); do
            docker run \
              --rm \
              --workdir=/helm-docs \
              --volume "$(pwd):/helm-docs" \
              -u $(id -u) \
              jnorwood/helm-docs:v1.11.0 \
              helm-docs -c ./charts/$chart -t ./README.gotmpl -o ./README.md
          done
          exit_code=$(git diff --exit-code)
          exit ${exit_code}

      - name: Print a comment in case of failure
        run: |
          echo "The README.md files are not up to date.

          Please, run \"make docs\" before pushing."
          exit 1
        if: |
          failure() && github.event.pull_request.head.repo.full_name == github.repository
