name: Check Helm Docs

on:
  pull_request:
    branches:
      - master

permissions: {}

jobs:
  readme:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Run Helm Docs and check the outcome
        run: |
          for chart in $(ls ./charts); do
            docker run \
              --rm \
              --workdir=/helm-docs \
              --volume "$(pwd):/helm-docs" \
              -u $(id -u) \
              jnorwood/helm-docs:v1.11.0 \
              helm-docs -c ./charts/$chart -t ./README.gotmpl -o ./README.md
          done
          exit_code=$(git diff --exit-code)
          exit ${exit_code}

      - name: Print a comment in case of failure
        run: |
          echo "The README.md files are not up to date.

          Please, run \"make docs\" before pushing."
          exit 1
        if: |
          failure() && github.event.pull_request.head.repo.full_name == github.repository
